$color-black: #161616;

$color-gray: #CCCCCC;

$color-darkgray: #949494;

$color-white: #ffffff;

$color-red: #FF1D25;


:root {
  --black: #161616;
  --darkgray: #949494;
  --gray: #CCCCCC;
  --red: #FF1D25;
}