$color-black: #161616;

$color-gray: #CCCCCC;

$color-darkgray: #949494;

$color-white: #ffffff;

$color-red: #FF1D25;

:root {
  --tt-color-black: #161616;
  --tt-color-darkgray: #949494;
  --tt-color-gray: #CCCCCC;
  --tt-color-red: #FF1D25;
  --tt-color-gold: #ffd700;
}