// Custom variables
@import "variables";
@import "projects";
@import "grid";
@import "slider";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Yeseva+One&display=swap');


html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
	font-size:99%;
  background-color: white;
  margin: 0;
}

::selection {
    background: gold;
    color: $color-black;
    text-shadow: none;
 }

 ::-webkit-scrollbar {
   width: 15px;
 }

 ::-webkit-scrollbar-track {
   background: $color-white;
 }

 ::-webkit-scrollbar-thumb {
   background: gold;
   border-radius: 2px;
 }

 ::-webkit-scrollbar-thumb:hover {
   background: darken(gold, 2%);
 }

 // STICKY footer
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

nav {
	margin-top: 2.8em;
	// margin-bottom: 3.6em;
  position: relative;
  z-index: 1;
}

.navwrapper {
  margin-left: 5%;
  margin-right: 5%;
  // padding-left: 15px;
  // padding-right: 15px;
}

.mainnav, .footer_navigation {
	float: right !important;
}

.topnav, .footernav {
	float: right !important;
  padding: 0;
}

.logo {
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
  background-size: contain;
	height: 3.6em;
	width: 8.2em;
	float: left;
	cursor: pointer;
}

.logo_w {
	background-image: url(../img/logo_w.svg);
	background-repeat: no-repeat;
  background-size: contain;
	height: 3.6em;
	width: 8.2em;
	float: left;
	cursor: pointer;
}

nav ul li {
	display: inline;
}

nav ul li a {
	font-family: 'Rubik', 'sans-serif';
  font-weight: 500;
	font-size: 1.6em;
  line-height: 0;
	color: $color-black;
  // opacity: .75;
	letter-spacing: 0.03em;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity .4s cubic-bezier(.59,.01,.28,1);
  -o-transition: opacity .4s cubic-bezier(.59,.01,.28,1);
  transition: opacity .4s cubic-bezier(.59,.01,.28,1);
}

nav ul li a:hover {
  opacity: 1;
	padding-bottom: 0.36em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

.current a {
	color: $color-black;
  opacity: 1;
	padding-bottom: 0.36em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

.current_w a {
	color: $color-gray;
  opacity: 1;
	padding-bottom: 0.36em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

nav li {
	margin-left: 5em;
  &:last-child{
    margin-right: 0;
  }
}

ul.secondary_nav {
  padding: 0;
  li a {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 0;
	letter-spacing: 0.02em;
  }
}

ul.secondary_nav li {
  margin-left: 0;
	margin-right: 2.6em;
  &:last-child{
    margin-right: 0;
  }
}

ul.secondary_nav li a:hover {
	color: $color-blue;
	border-bottom: 0;
	text-decoration: none;
}

.footerlogo {
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
  background-size: contain;
	float: left;
  height: 3.6em;
  width: 8.2em;
	cursor: pointer;
}

footer {
	margin-top: 16em;
	margin-bottom: .8em;
}

.footer_navigation ul li {
	display: inline;
}

.footer_navigation ul {
	padding: 0;
}

.footer_navigation ul li a {
  font-family: 'Rubik', 'sans-serif';
	font-weight: 500;
	font-size: 1.6em;
	color: $color-black;
  line-height: 0;
	letter-spacing: 0.03em;
	// text-align: center;
  text-decoration: none;
}

.footer_navigation ul li a:hover {
	text-decoration: none;
	padding-top: 0.36em;
	border-top: 0.2em solid;
}

.current_footer a {
	color: $color-black;
	padding-top: 0.36em;
	border-top: 0.2em solid;
	text-decoration: none;
}

.footer_navigation li {
	margin-left: 5em;
  &:last-child{
    margin-right: 0;
  }
}

footer ul.secondary_nav {
  list-style: none;
  padding: 0;
  li {
    display: inline;
  }
  li a {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 300;
  font-size: 1.6em;
  color: $color-black;
  text-decoration: none;
	letter-spacing: 0.02em;
  }
}

footer ul.secondary_nav li {
  margin-left: 0;
	margin-right: 2.6em;
  &:last-child{
    margin-right: 0;
  }
}

.links, a.links:visited{
	font-family: 'Rubik', 'sans-serif';
	font-weight: 300;
	font-size: 1em;
	color: darken( $color-gray, 30% );
	letter-spacing: 0.03em;
	text-align: center;
  text-decoration: none;
  border-bottom: 1px dotted darken( $color-gray, 30% );
  transition: all 300ms ease-in-out;
}

a.links:hover {
	text-decoration: none;
  color: $color-blue;
}

.copyright {
  font-family: 'Rubik', 'sans-serif';
    font-weight: 300;
    font-size: 1.2em;
    color: $color-black;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 2.1em auto 0 auto;
}

.negative_margin {
  margin-top: -63px;
}

.contactbtn {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 700;
  font-size: 2.1em;
  line-height: 100%;
  text-transform: uppercase;
  text-align: left;
  margin: 190px auto 210px auto;
  text-decoration: none;
  color: black;
  padding: 36px 36px 38px 36px;
  border: 16px solid gold;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  text-rendering: optimizeLegibility;
  transition: all 100ms ease-in-out;
  width: 136px;
}

.contactbtn:hover {
  background-color: gold;
}

//CONTACT FORM
.cph {
  min-height: 100vh;
}

.cbox {
  margin-bottom: 1.4em;
}

.contacttxt {
  margin-top: 2em;
  margin-bottom: 3.4em;
}

form {
  box-sizing: border-box;
  margin: 0 auto 120px auto;
  max-width: 599px;
}

input, textarea, select, {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 400;
  background-color: $color-white;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 46px;
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: $color-black;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
}

textarea {
  height: auto;
  resize: vertical;
}

textarea:focus, input:focus, select:focus {
    outline: none;
    // outline-color: gold;
    // box-shadow: 4px solid gold;
    background-color: #fff;
}

select {
  background: url(../img/arrows.svg) no-repeat 99% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-white;
  color: $color-black;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-black;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-black;
}
.name, .mail {
  width: calc(50% - 6px);
  float: left;
  margin-right: 6px;
}
.company, .phone {
  width: calc(50% - 6px);
  margin-left: 6px;
}

.submit{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: $color-blue;
  // text-transform: uppercase;
  cursor: pointer;
  display: block;
  font-size: 18px;
  color: $color-white;
  border: 0;
  border-radius: 2px !important;
  padding: 18px 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  transition: all 100ms ease-in-out;
  width: 136px;
}
.submit:hover {
  background-color: lighten($color-blue, 20%);
}

#status {
  max-width: 599px;
  margin: 0 auto;
}
#status.success {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 3.6em;
  line-height: 105%;
  color: $color-battlegray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status.error {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 2.1em;
  color: $color-battlegray;
}

//Type
h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 4.2em;
  line-height: 105%;
  margin-top: 0;
  margin-bottom: 0;
  color: $color-black;
  display: inline-block;
}
.smallerttitle {
    font-size: 6rem;
}
h2 {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 500;
  font-size: 2.6em;
  line-height: 125%;
	margin-top: 3.6em;
  margin-bottom: 0;
  color: $color-black;
  display: inline-block;
}

h3 {
	font-family: 'Rubik', 'sans-serif';
	font-weight: 500;
	font-size: 1.6em;
	margin: 1.8em 0 .6em 0;
}

h4 {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 500;
  font-size: 2.8em;
  line-height: 125%;
  margin-bottom: 1em;
  color: $color-black;
	letter-spacing:  0.03em;
	text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}

p {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 300;
  font-size: 2.1em;
	line-height: 156%;
	letter-spacing: 0.03em;
  color: $color-black;
  margin-top: 3.6em;
  margin-bottom: 2.6em;
  display: inline-block;
}

.lastparagraph {
  margin-bottom: 6em;
}

.resetparagrap {
  margin-top: 0;
}

ul.clientslist {
  padding: 0;
  webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  list-style: none;
  li {
    font-family: 'Rubik', 'sans-serif';
    font-weight: 300;
    font-size: 1.6em;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: $color-battlegray;
  }
}

.description {
  margin-top: 8.2em;
	margin-bottom: 9em;
  max-width: 599px;
}

.details {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}
.gray {
  color: darken( $color-gray, 30% );
  text-transform: lowercase;
}

.color-white {
  color: $color-gray;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-cover {
  width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.photo {
	margin-top: 5em;
	margin-bottom: 7em;
}

.logos {
  margin-bottom: 20px;
}

.bckgound {
	background-color: lighten( $color-gray, 18% );
}

.bckgoundc {
	background-color: $color-black;
}

.infplscntposition {
  margin: 190px auto 0 auto;
  max-width: 599px;
}

.projectsposition {
  margin-top: 127px;
  // max-width: 599px;
}

////Huichol background
.sectionbacground {
  animation: colorchange 25s infinite; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 25s infinite; /* Chrome and Safari */
  }

  @keyframes colorchange
  {
    0%   {background: #e0282a;}
    17%  {background: #eb6726;}
    32%  {background: #f7b618;}
    47%  {background: #009a67;}
    52%  {background: #72c8ef;}
    77%  {background: #293c90;}
    100% {background: #e0282a;}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: #e0282a;}
    17%  {background: #eb6726;}
    32%  {background: #f7b618;}
    47%  {background: #009a67;}
    52%  {background: #72c8ef;}
    77%  {background: #293c90;}
    100% {background: #e0282a;}
}

// FILTERS
#myBtnContainer {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.filterlabel {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: uppercase;
}


.filterDiv {
  display: none;
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  border: none;
  outline: none;
  // padding: 12px 16px;
  background-color: $color-white;
  cursor: pointer;
}

.btn:hover {
  color: $color-blue;
  // background-color: #ddd;
  // border-bottom: 2px solid $color-black;
}

.btn.active {
  // background-color: #666;
  color: $color-blue;
  // border-bottom: 2px solid $color-blue;
}

// MOBILE MENU
.hamburger {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: bold;
  color: $color-white;
  float: right;
}
.hamburgerblck {
    cursor: pointer;
    font-size: 2.8em;
    color: $color-black;
    float: right;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: $color-black;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.05s;
  /* 0.5 second transition effect to slide in the sidenav */
  // -webkit-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // -moz-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
}

  /* The side navigation menu */
.hidedesktop  {
  display: none;
}
.hidesmall {
  display: block;
}

.hamburgerblck, .hamburger {
    cursor: pointer;
    font-size: 3.8em;
    color: $color-black;
    position: absolute;
    top: -7px;
    right: 0;
}

.hamburger {
  color: $color-white;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: $color-black;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 90px;
  /* Place content 60px from the top */
  transition: 0.05s;
  /* 0.5 second transition effect to slide in the sidenav */
  // -webkit-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // -moz-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
}

/* The navigation menu links */
.sidenav a {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 500;
  font-size: 2.8em;
  // line-height: 250%;
  padding: 8px 0 0 5%;
  text-decoration: none;
  color: $color-white;
  display: block;
  // text-align: center;
  padding-bottom: 21px;
  transition: 0.5s;
}

.sidenav a.secondary {
    font-size: 1.6em;
    font-weight: 300;
    padding-bottom: 15px;
}

.recolorblack {
  color: $color-black;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $color-battlegray }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 18px;
  right: 5.6%;
  font-size: 36px;
}

//RESPONSIVE
@media screen and (max-width: 1010px) {
  .secondary_nav {
    display: none;
  }
  .topnav {
    display: none;
  }
  .hidedesktop {
    display: block;
  }
  .negative_margin, .cover {
    margin-top: -64px;
  }
  ul.clientslist {
    webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
  }
  .infplscntposition {
    margin: 140px auto 0 auto;
  }
  .contactbtn {
    margin: 160px auto 190px auto;
  }
}

@media screen and (max-width: 660px) {
	.photo {
		margin-bottom: 0;
	}
  h1 {
    font-size: 3.6em;
  }
  h2 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 2.6em;
  }
  p {
    font-size: 1.8em;
  }
  ul.clientslist li {
    font-size: 1.4em;
  }
  .projects li a {
    font-size: 1.6em;
  }
  .contactbtn {
    font-size: 1.8em;
    padding: 28px 28px 30px 28px;
    border: 14px solid gold;
    margin: 120px auto 150px auto;
  }
  .slider_link, .slider_text {
    font-size: 2.1em;
  }
  .slidercouter {
    font-size: 1.8em;
  }

}

@media screen and (max-width: 480px) {
  // h1 {
  //   margin-top: 1.8em;
  //   margin-bottom: 0.6em;
  // }
  ul.clientslist {
    padding: 0;
    margin-top: 2.4em;
    webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
  }
}

@media screen and (max-width: 445px) {
  .footer_navigation li {
  	margin-left: 3.5em;
    &:last-child{
      margin-right: 0;
    }
  }
  .footerlogo {
  	float: left;
    height: 3em;
    width: 6.9em;
  }
}

@media screen and (max-width: 400px) {
  form {
    margin: 0 0 36px 0;
  }
}

@media screen and (max-width: 375px) {
  .footer_navigation ul li a {
    font-size: 1.4em;
  }
  .footer_navigation li {
    margin-left: 2.6em;
    &:last-child{
      margin-right: 0;
    }
  }
  .footerlogo {
    float: left;
    height: 2.8em;
    width: 5.6em;
  }
  .name, .mail {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .company, .phone {
    width: 100%;
    margin-left: 0;
  }
  ul.clientslist {
    padding: 0;
    margin-top: 1.8em;
    webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style: none;
  }
  .contactbtn {
    margin: 100px auto 130px auto;
  }
}

@media screen and (max-width: 314px) {
  .footerlogo {
    display: none;
  }
}

@media screen and (max-width: 246px) {
  .contactbtn {
    font-size: 1.6em;
    padding: 18px 18px 20px 18px;
    border: 8px solid gold;
    margin: 80px auto 110px auto;
  }
}
