.projects {
	margin: 21px 0 0 0;
	padding: 0;
	list-style: none;
	// position: relative;
	width: 100%;
}

.projects li {
	box-sizing: border-box;
	// position: relative;
	float: left;
	overflow: hidden;
	width: 25%; /* Fallback */
	width: calc(100% / 4);
	padding: 0 12px 14px 12px;
}

.projects li a,
.projects li a img {
	display: block;
	width: 100%;
	cursor: pointer;
	padding-bottom: 8px;
}

.projects li a {
	font-family: 'Rubik', 'sans-serif';
	font-weight: 400;
	font-size: 1.8em;
	color: $color-black;
	text-decoration: none;
	border-bottom: 2px solid rgba(200, 200, 200, 0);
	display: inline-block;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity .4s cubic-bezier(.59,.01,.28,1);
  -o-transition: opacity .4s cubic-bezier(.59,.01,.28,1);
  transition: opacity .4s cubic-bezier(.59,.01,.28,1);
}

.projects li a:hover {
		color: $color-blue;
}

.cover {
	position: relative;
	margin-top:-63px;
}

/* Example for media query: change number of items per row */

@media screen and (max-width: 1010px) {
	.projects li {
		width: 33.333%; /* Fallback */
		width: calc(100% / 3);
	}
	.projects li {
		padding: 0 10px 12px 10px;
	}
}

@media screen and (max-width: 880px) {
	.projects li {
		width: 50%; /* Fallback */
		width: calc(100% / 2);
	}
	.projects li {
		padding: 0 6px 8px 6px;
	}
}

@media screen and (max-width: 350px) {
	.projects li {
		width: 100%; /* Fallback */
		width: calc(100% / 1);
	}
}
