.slider {
    width: 100%;
    min-height:100vh;
    margin: -63px auto 0 auto;
}

.slick-slide {
  margin: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slidesinner {
  display: flex !important;
  align-items: flex-end;
}

.slider_link, .slider_text {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  line-height: 120%;
  color: $color-black;
  text-decoration: none;
  display: inline-block;
  // border-bottom: 3px solid;
  // margin-bottom: 1em;
  padding-bottom: 3px;
}

.slider_text {
  margin-bottom: .4em;
  display: block;
}

a.slider_link:hover {
  padding-bottom: 0;
  // text-decoration: underline;
  border-bottom: 3px solid;
}

.slidercouter {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2.1em;
  position: absolute;
  right: 5%;
  bottom: 1.4%;
}


.slide1 {background:url(../img/slider/22.gif) no-repeat center;
background-size: cover;}
.slide2 {background:url(../img/slider/11.gif) no-repeat center;
background-size: cover;}
.slide3 {background:url(../img/slider/3.jpg) no-repeat center;
background-size: cover;}
.slide4 {background:url(../img/slider/4.jpg) no-repeat center;
background-size: cover;}
.slide5 {background:url(../img/slider/5.jpg) no-repeat center;
background-size: cover;}
