.slider {
    width: 100%;
    min-height:100vh;
    margin: -73px auto 0 auto;
}

.slick-slide {
  margin: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slidesinner {
  display: flex !important;
  align-items: flex-end;
}

.slider_link, .slider_text {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  line-height: 120%;
  color: $color-black;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 9px;
}

.slider_text {
  font-weight: 300;
  font-size: 2.1em;
  margin-bottom: 18px;
}

a.slider_link:hover {
  padding-bottom: 9px;
  // text-decoration: underline;
  // border-bottom: 3px solid;
}

.slidercouter {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  position: absolute;
  right: 6%;
  bottom: 0;
  margin-bottom: 29px;
}


.slide1 {background:url(../img/slider/314_typeface_slider.png) no-repeat center;
background-size: cover;}
.slide2 {background:url(../img/slider/sito_studio_website.png) no-repeat center;
background-size: cover;}
.slide3 {background:url(../img/slider/gallerysytle_website.png) no-repeat center;
background-size: cover;}
.slide4 {background:url(../img/slider/ph_cover.jpg) no-repeat center;
background-size: cover;}
.slide5 {background:url(../img/slider/logo_folio.png) no-repeat center;
background-size: cover;}

@media screen and (max-width: 1010px) {
  .slider {
    margin: -74px auto 0 auto;
  }
  .slider_text {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .slide1 {background:url(../img/slider/314_typeface_slider_sm.png) no-repeat center;
  background-size: cover;}
  .slide2 {background:url(../img/slider/sito_studio_website_sm.png) no-repeat center;
  background-size: cover;}
  .slide3 {background:url(../img/slider/gallerysytle_website_sm.png) no-repeat center;
  background-size: cover;}
  .slide4 {background:url(../img/slider/ph_cover.jpg) no-repeat center;
  background-size: cover;}
  .slide5 {background:url(../img/slider/logo_folio_sm.png) no-repeat center;
  background-size: cover;}
}
