<div class="container-fluid bckgound negative_margin">
	<div class="container-pr">
		<div class="row">
				<div class="col col--12-of-12">

					<div class="infplscntposition">
						 <h1 id="aboutus">Things about us.</h1>
						 <p>
							 Great Things can only happen with passion, intelligence and pesonal commitment. Those Things are the driving force for our problem-solving studio. We are <a href="https://www.linkedin.com/in/iam314/" class="links">Lyudmil&nbsp;Dachev</a> and Jivko Yordanov and we can design Things, create Things, tell Things, sell Things, we can offer you Those Things you need for your business to succeed.

							 If you have a good idea we may have the right Thing for you.
							 </p>

						 <h1 id="services">Things we do.</h1>
						 <p class="lastparagraph">

								Our service are in the field of : Discovery, Research, Strategy, Ideation, Branding UX/UI Visual Design Motion Illustration, Prototyping, Animatics, Development.
						 </p>
					</div>
				</div>
			</div>
	</div>
</div>

<div class="container">
<div class="row">
	<div class="col col--12-of-12">
		 <h2 id="clientlist">Clients</h2>
	 </div>
 </div>
 <div class="row">
	<div class="col col--12-of-12">
		<ul class="clientslist">
			<li>404 Collective</li>
			<li>ALDE</li>
			<li>All I Need Music</li>
			<li>Appolo Coaching</li>
			<li>ARMD Music</li>
			<li>Artone</li>
			<li>Association Help Life Insurance</li>
			<li>A&D Pharma</li>
			<li>Barouh and Partners</li>
			<li>BBC</li>
			<li>B.A.S.</li>
			<li>Benix</li>
			<li>Bianchi Coffee</li>
			<li>Boro Auto</li>
			<li>Boyan Music</li>
			<li>Brand Springboard</li>
			<li>Breeze</li>
			<li>Brown-Forman</li>
			<li>Bulgarian Association of Advertisers</li>
			<li>Cash Credit</li>
			<li>Carrot</li>
			<li>Citylines</li>
			<li>Coca-Cola</li>
			<li>Crabbie's Yeardhead</li>
			<li>Crazy Frog</li>
			<li>DAYO</li>
			<li>Dewar's</li>
			<li>Diamondhouse</li>
			<li>Dream Team Films</li>
			<li>Dutchican Soul</li>
			<li>Dynamics Mobile</li>
			<li>Dynamics Trans</li>
			<li>Eagle Trade</li>
			<li>Edno Magazine</li>
			<li>Елена Сиракова</li>
			<li>ELP</li>
			<li>Emenu</li>
			<li>EUJS</li>
			<li>Euroccor</li>
			<li>Evermore</li>
			<li>Finlandia</li>
			<li>FIVO</li>
			<li>Friday Agency</li>
			<li>Foto Fabrica</li>
			<li>Foxy Bot</li>
			<li>Fuze TeaZubrowka</li>
			<li>Gabrovo Municipality</li>
			<li>Gallery Style</li>
			<li>Garnier</li>
			<li>Generator</li>
			<li>GCI</li>
			<li>Green Food</li>
			<li>GrooveLab</li>
			<li>Harsh Magazine</li>
			<li>Health Freak</li>
			<li>Heed Auto</li>
			<li>Huichol</li>
			<li>Ink Bar</li>
			<li>Intelligent Systems</li>
			<li>Inter Nos</li>
			<li>Jack Daniel’s</li>
			<li>Jregions</li>
			<li>Jwax</li>
			<li>Kabile Wine</li>
			<li>Kapana</li>
			<li>Karat S</li>
			<li>Klett</li>
			<li>Komar Films</li>
			<li>Kristal</li>
			<li>Lavazza</li>
			<li>LG</li>
			<li>Lina Nikol</li>
			<li>Livecasts</li>
			<li>L'oreal</li>
			<li>Lovech Municipality</li>
			<li>Luther Foundation</li>
			<li>Mall Varna</li>
			<li>Marten</li>
			<li>Maybelline</li>
			<li>MEM Studio</li>
			<li>Memento NDK</li>
			<li>Moma</li>
			<li>Mr. Moon Records</li>
			<li>NATFA</li>
			<li>Национална Лотария</li>
			<li>Nbox</li>
			<li>NescafeDeutsche Leasing</li>
			<li>Nova TV</li>
			<li>Nu Boyana Film Studios</li>
			<li>One Hairstyle</li>
			<li>Outcasts</li>
			<li>Panic Frame & Travel</li>
			<li>Phelia Barouh</li>
			<li>Peshtera Winery / Винпром Пещера</li>
			<li>Planet Club</li>
			<li>PM Club</li>
			<li>Porno BPM</li>
			<li>Poyden</li>
			<li>Pricelens</li>
			<li>Radio Binar</li>
			<li>Red Fowl</li>
			<li>Rise Above</li>
			<li>Руский Стандарт</li>
			<li>rTrans</li>
			<li>Ruth</li>
			<li>Sans Rival</li>
			<li>Safety Doors</li>
			<li>Schweppes</li>
			<li>Serdika Center</li>
			<li>Sito Studio</li>
			<li>Skatebg</li>
			<li>Sofia Blading Olympics</li>
			<li>Sterimed 93 Ltd.</li>
			<li>Smart Communications</li>
			<li>Sofia Crypto Meetup</li>
			<li>Sofia Municipality</li>
			<li>Sofiyskata Sveta Gora</li>
			<li>Sofiyski Imoti</li>
			<li>SONY</li>
			<li>Soul Fiction</li>
			<li>Stereosoulz</li>
			<li>Team Disaster</li>
			<li>The Commentator</li>
			<li>TFS</li>
			<li>The Pogues</li>
			<li>Tihomir Rachev</li>
			<li>T-Post</li>
			<li>TromBobby</li>
			<li>Velingrad</li>
			<li>Vertigo Skates</li>
			<li>Vichy</li>
			<li>Vibes Radio</li>
			<li>Virus Skateboards</li>
			<li>Water Tower Artfest</li>
			<li>Whitley Neill</li>
			<li>WJC</li>
			<li>X-Challenge Park</li>
			</ul>
		</div>
	</div>
	<div class="row">
	 <div class="col col--12-of-12">
			<a href="contact.html" class="contactbtn">Ready do<br>a Thing togher?<br>Contact&nbsp;Us.</a>
		</div>
	</div>
</div>
