<section>
	<div class="backgound-black negative_margin">
		<div class="container-pr">
			<div class="cph">
				<div id="formsucces">
					
					<div class="cbox text-box-wrapper text-box-wrapper-padding-top-xl" style="margin-left: auto;">
						<h1 class="title-xl" style="color: white;">Let’s do great Things together.</h1>
						<p class="contacttxt" style="color: white;">
							Start a project, schedule a talk or just to say Hi, use the form.
						</p>
					</div>
	
					<form id="contactform" action="https://formspree.io/f/moqplkbq" method="POST">
						<!-- <label for="contact-name">Name</label> -->
						<input type="text" name="name" placeholder="Name*" required class="name">
						<!-- <label for="contact-company">Company</label> -->
						<input type="text" name="company" placeholder="Company" class="company">
						<!-- <label for="contact-email">email</label> -->
						<input type="text" name="_replyto" placeholder="Email*" required class="mail">
						<!-- <label for="contact-phone">Phone</label> -->
						<input type="text" name="phone" placeholder="Phone" class="phone">
						<!-- <label for="contact-subject">Subject</label> -->
						<input type="text" name="subject" placeholder="Subject*" required class="subject">
						<!-- <input type="hidden" name="_subject" value="Website Form" /> -->
						<input type="hidden" name="_next" value="thankyou.html" />
						<!-- <label for="contact-message">message</label> -->
						<textarea name="message" placeholder="Write your Thing here..." rows="9" cols="10"></textarea>
						<input type="text" name="_gotcha" style="display:none" />
						<button class="submit" type="submit" value="Send" id="button">Send</button>
					</form>
				
				</div>

				<div id="status"></div>
				
			</div>
		</div>
	</div>
</section>		
