<div class="container-fluid bckgoundc">
	<div class="container">
		<div class="row">
				<div class="col col--6-of-12 col col--centered">
					<div class="cbox">
						<h1 style="color: white;">Let’s do great Things together.</h1>
						<p style="color: white;">
							To start a project, schedule a talk or just say hello write to us at <a href="mailto:hello@thosethings.studio" target="_top" class="email">hello@thosethings.studio</a>
						</p>

					</div>
				</div>
			</div>


	</div>
</div>
<!-- <a href="mailto:workwith314@gmail.com" target="_top" class="email">workwith314@gmail.com</a> -->
