<section class="container">

	<!-- <div class="text-box-wrapper text-box-wrapper-padding-top-xl"> -->
	<div class="text-box-wrapper">
		<p class="lastparagraph">Great Things can only happen with passion, intelligence and personal commitment. Those Things are the driving force for our design studio. <a href="about.html#aboutus" class="links">about</a></p>
		<h1 class="title-xl">We design Those Things you need for your business to succeed.</h1>
		<p class="lastparagraph">An independent studio specialising in design, both digital and physical. <a href="about.html#services" class="links">services</a></p>
	</div>

	<div class="text-box-wrapper text-box-wrapper-padding-top-l">
		<h2  class="title-l">Brands we've worked with.</h2>
		<p>By working closely with our clients, we help them strengten their brands and build confidence to share their ideas with the world. <a href="about.html#clientlist" class="links">full clients list</a></p>
	</div>

	<div class="grid-clients-logos">
		<img class="img-responsive photo center-block" src="img/logos/coca_cola_logo.svg" alt="Client Coca-Cola">
		<img class="img-responsive photo center-block" src="img/logos/sony_logo.svg" alt="Client Sony">
		<img class="img-responsive photo center-block" src="img/logos/finlandia_logo.svg" alt="Client Finlandia">
		<img class="img-responsive photo center-block" src="img/logos/bbc_logo.svg" alt="Client BBC">
		<img class="img-responsive photo center-block" src="img/logos/nuboyana_logo.svg" alt="Client Nuboyana">
		<img class="img-responsive photo center-block" src="img/logos/velingrad_logo.svg" alt="Client Velingrad">
		<img class="img-responsive photo center-block" src="img/logos/novatv_logo.svg" alt="Client Nova TV">
		<img class="img-responsive photo center-block" src="img/logos/jackdaniels_logo.svg" alt="Client Jack Daniels">
		<img class="img-responsive photo center-block" src="img/logos/raffy_logo.svg" alt="Client Raffy">
		<img class="img-responsive photo center-block" src="img/logos/heineken_logo.svg" alt="Client Heineken">
		<img class="img-responsive photo center-block" src="img/logos/wjc_logo.svg" alt="Client WJC">
		<img class="img-responsive photo center-block" src="img/logos/pm_logo.svg" alt="Client :PM club">
	</div>

</section>