<div class="container-pr">
	<div class="row">
		<div class="col col--12-of-12">
			<div class="infplscntposition">
			<p>Because of all of Those Things that make us interesting and indifferent form others, we can make Things that no one else can. <a href="about.html#aboutus" class="links">learn more</a></p>
			<h1>We offer Those Things you need for your business to succeed.</h1>
			<p>An independent studio specialising in design, both digital and non-digital. <a href="about.html#services" class="links">learn more</a></p>
</div>
		</div>
	</div>
</div>
<!-- something wrong with the container -->
<div class="container">
		<div class="row">
			<div class="col col--12-of-12">
				<div class="infplscntposition">
				 <p>By working closesly with our clients, we help them strengthen their brands and build confidence to share Those Things they love with the world.</p>
				 		 <h2>Brands we've worked with.</h2>
				 </div>
		 </div>
		</div>
		 <div class="row row--no-gutter">
				<div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
						<img src="img/logos/coca_cola_logo.svg" alt="Client Coca-Cola">
				</div>
				<div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
					<img src="img/logos/sony_logo.svg" alt="Client Coca-Cola">
				</div>
				<div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
					<img src="img/logos/finlandia_logo.svg" alt="Client Coca-Cola">
				</div>
				<div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
					<img src="img/logos/bbc_logo.svg" alt="Client Coca-Cola">
				</div>
		</div>
		<div class="row row--no-gutter">
			 <div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
				 <img src="img/logos/nuboyana_logo.svg" alt="Client Coca-Cola">
			 </div>
			 <div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
				 <img src="img/logos/velingrad_logo.svg" alt="Client Coca-Cola">
			 </div>
			 <div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
				 <img src="img/logos/novatv_logo.svg" alt="Client Coca-Cola">
			 </div>
			 <div class="col col--3-of-12 col--m-1-of-4 col--s-1-of-2">
				 <img src="img/logos/jackdaniels_logo.svg" alt="Client Coca-Cola">
			 </div>
	 </div>

		 <div class="row">
			<div class="col col--12-of-12">
				<div class="infplscntposition">
					<p><a href="about.html#clientlist" class="links">full list</a></p>
					</div>
				</div>
		</div>

	 <div class="row">
 		<div class="col col--12-of-12">
 			 <a href="contact.html" class="contactbtn">Ready do<br>a Thing togher?<br>Contact&nbsp;Us.</a>
 		 </div>
 	 </div>

</div>
