<div class="container-pr">
	<div class="row">
		<div class="col col--6-of-12 col--centered infplscntposition">
			<h1>We offer Those Things you need for your business to succeed.</h1>
			<p>An independent studio specialising in design, both digital and non-digital.

				and illustration, branding and identity, web and digital solutions, sound and motion, products and packaging, advertising and strategy.</p>
		</div>
	</div>
</div>
<!-- something wrong with the container -->
<div class="container">
		<div class="row">
			<div class="col col--6-of-12 col--centered">
				 <h2>Clients</h2>
			 </div>
		 </div>
		 <div class="row">
			<div class="col col--12-of-12">
				<ul class="clientslist">
					<li>ALDE</li>
					<li>Appolo Coaching</li>
					<li>ARMD Music</li>
					<li>Artone</li>
					<li>Association Help Life Insurance</li>
					<li>Barouh and Partners</li>
					<li>B.A.S.</li>
					<li>Benix</li>
					<li>Boro Auto</li>
					<li>Boyan Music</li>
					<li>Breeze</li>
					<li>Cash Credit</li>
					<li>Carrot</li>
					<li>Citylines</li>
					<li>Coca-Cola</li>
					<li>Diamondhouse </li>
					<li>Dream Team Films</li>
					<li>Dutchican Soul</li>
					<li>Dynamics Mobile</li>
					<li>Dynamics Trans</li>
					<li>Edno Magazine</li>
					<li>ELP</li>
					<li>Emenu</li>
					<li>EUJS</li>
					<li>Euroccor</li>
					<li>Evermore</li>
					<li>Finlandia</li>
					<li>Friday Agency</li>
					<li>Foto Fabrica</li>
					<li>Gabrovo Municipality</li>
					<li>Generator</li>
					<li>GCI</li>
					<li>Harsh Magazine</li>
					<li>Health Freak</li>
					<li>Heed Auto</li>
					<li>Huichol</li>
					<li>Ink Bar</li>
					<li>Intelligent Systems</li>
					<li>Inter Nos</li>
					<li>Jack Daniel’s</li>
					<li>Jregions</li>
					<li>Jwax</li>
					<li>Kapana</li>
					<li>Karat S</li>
					<li>Komar Films</li>
					<li>Lina Nikol   </li>
					<li>Livecasts</li>
					<li>Lovech Municipality</li>
					<li>Luther Foundation</li>
					<li>Mall Varna</li>
					<li>MEM Studio</li>
					<li>Moma</li>
					<li>Mr. Moon Records</li>
					<li>NATFA</li>
					<li>Национална Лотария</li>
					<li>Nbox</li>
					<li>Nova TV</li>
					<li>Nu Boyana Film Studios</li>
					<li>One Hairstyle</li>
					<li>Outcasts</li>
					<li>Panic Frame & Travel</li>
					<li>Phelia Barouh</li>
					<li>Planet Club</li>
					<li>Porno BPM</li>
					<li>Poyden</li>
					<li>Pricelens</li>
					<li>Radio Binar</li>
					<li>Red Fowl</li>
					<li>Rise Above</li>
					<li>Руский Стандарт</li>
					<li>rTrans</li>
					<li>Ruth</li>
					<li>Safety Doors</li>
					<li>Schweppes</li>
					<li>Serdika Center</li>
					<li>Sito Studio</li>
					<li>Skatebg</li>
					<li>Smart Communications</li>
					<li>Sofia Municipality</li>
					<li>Sofiyskata Sveta Gora</li>
					<li>Sofiyski Imoti</li>
					<li>Stereosoulz</li>
					<li>Team Disaster</li>
					<li>The Commentator</li>
					<li>TFS</li>
					<li>Tihomir Rachev</li>
					<li>T-Post</li>
					<li>TromBobby</li>
					<li>Velingrad</li>
					<li>Vertigo Skates</li>
					<li>Vibes Radio</li>
					<li>Virus Skateboards</li>
					<li>Water Tower Artfest</li>
					<li>WJC</li>
					</ul>
				</div>
	</div>
	<div class="row">
		<div class="col col--6-of-12 col col--centered">
			 <h2>Ready do a THING togher?</h2>
			 <a href="contact.html" class="submit btnfix" >Contact&nbsp;us</a>
		 </div>
	 </div>

</div>
