<div class="container">
	<div class="row">
		<div class="col col--12-of-12">
			<div class="projectsposition">
			<h1>Those Things we did.</h1>
				<!-- <div id="myBtnContainer">
					<span class="filterlabel">type of work:</span>
	  			<button class="btn active" onclick="filterSelection('all')"> All</button>
	  			<button class="btn" onclick="filterSelection('1')">Brand Identity</button>
					<button class="btn" onclick="filterSelection('2')">Digital</button>
					<button class="btn" onclick="filterSelection('3')">Non-Digital</button>
					<button class="btn" onclick="filterSelection('4')">Packaging</button>
					<button class="btn" onclick="filterSelection('5')">Motion & Film</button>
					<button class="btn" onclick="filterSelection('6')">Typography</button>
				</div> -->
			</div>
		</div>
	</div>
</div>
<div class="container-w">
	<div class="row">
		<div class="col col--12-of-12">
			<ul class="projects">
				<!-- <li class="filterDiv 1 5 6">
					<a href="kristin-kay.html"><img src="img/projects/kristin-kay_thumb.png" alt="Kristin Kay logo"/>Kristin kay</a></li> -->
				<li class="filterDiv 3">
					<a href="btc_bd.html"><img src="img/projects/btc_bd_thumb.png" alt="Bitcoin Birthday Billboards Campaign"/>Bitcoin Birthday</a></li>
				<li class="filterDiv 2">
					<a href="phwebsite.html"><img src="img/projects/phwebsite_thumb.jpg" alt="Phelia Barouh Website"/>Phelia Barouh</a></li>
				<li class="filterDiv 2 6"><a href="314bits.html"><img src="img/projects/314bits_thumb.png" alt="314 bits"/>314 bits typeface</a></li>
				<!-- <li class="filterDiv 1 2 3 4"><a href="jwax.html"><img src="img/projects/jwax_thumb.jpg" alt="JWAX Website"/>Jwax</a></li> -->
				<li class="filterDiv 2"><a href="dentacoin.html"><img src="img/projects/dentacoin_thumb.png" alt="Dentacoin"/>Dentacoin</a></li>
				<li class="filterDiv 2"><a href="devcon.html"><img src="img/projects/devcon_thumb.jpg" alt="DevCon Website"/>DevCon</a></li>
				<li class="filterDiv 2"><a href="gallerystyle.html"><img src="img/projects/gallerysyle_thumb.png" alt="Gallery Style Website"/>Gallery Style</a></li>
				<li class="filterDiv 1 2"><a href="vertigo.html"><img src="img/projects/vertigo_thumb.jpg" alt="Vertigo Skates"/>Vertigo Skate Shop</a></li>
				<li class="filterDiv 1"><a href="logos.html"><img src="img/projects/logo_thumb.jpg" alt="Logo Collection"/>Logos</a></li>
				<li class="filterDiv 1 2"><a href="tihomir_portfolio.html"><img src="img/projects/bhp_thumb.png" alt="Broken Heart Phography"/>Broken Heart Photography</a></li>
				<li class="filterDiv 1 2"><a href="huichol.html"><img src="img/projects/huichol_thumb.png" alt="Huichol App"/>Huichol App</a></li>
				<li class="filterDiv 2"><a href="sitostudio.html"><img src="img/projects/sitostudio_thumb.png" alt="Sito Studio website"/>Sito Studio</a></li>
				<li class="filterDiv 4"><a href="ruth.html"><img src="img/projects/ruth_thumb.jpg" alt="Ruth"/>Ruth &amp; Unlimited</a></li>
				<li class="filterDiv 1 4"><a href="artone.html"><img src="img/projects/artone_thumb.jpg" alt="Artone Album artworks"/>Artone</a></li>
				<li class="filterDiv 3"><a href="water.html"><img src="img/projects/water_thumb.png" alt="Water Competiton"/>Save Water Campaign</a></li>
				<li class="filterDiv 4"><a href="gabrovo.html"><img src="img/projects/gabrovo_thumb.jpg" alt="Gabrovo DVD Cover"/>Gabrovo Municipality</a></li>
				<li class="filterDiv 2"><a href="herrdonald.html"><img src="img/projects/herrdonald_thumb.jpg" alt="herr Donald Website"/>Herr Donald</a></li>
			</ul>
		</div>
	</div>
</div>
