<div class="container-pr">
	<div class="row">
		<div class="col col--6-of-12 textwrapper">
			<h1>Take a look at Those Things we did.</h1>
				<p>By working closesly with our clients, we help them strengthen their brands and build confidence to share Those Things they love with the world. We believe This kind of collaboration produces the best results.</p>
		</div>
	</div>
	<div class="row">
		<div class="col col--6-of-12">
			<div id="myBtnContainer">
				<span class="filterlabel">type of work:</span>
  			<button class="btn active" onclick="filterSelection('all')"> Show all</button>
  			<button class="btn" onclick="filterSelection('1')">Branding</button>
  			<button class="btn" onclick="filterSelection('2')">Web</button>
			</div>
		</div>
	</div>
	<div class="row">
				<div class="col col--12-of-12">
			<ul class="projects">
				<li class="filterDiv 1 2"><a href="phwebsite.html"><img src="img/projects/phwebsite_thumb.jpg" alt="Phelia Barouh Website"/><div><h3>Phelia Barouh</h3></div></a></li>
				<li class="filterDiv 1"><a href="314bits.html"><img src="img/projects/314bits_thumb.png" alt="314 bits"/><div><h3>314 bits typeface</h3></div></a></li>
				<li class="filterDiv 1"><a href="jwax.html"><img src="img/projects/jwax_thumb.jpg" alt="JWAX Website"/><div><h3>JWAX</h3></div></a></li>
				<li class="filterDiv 1"><a href="dentacoin.html"><img src="img/projects/dentacoin_thumb.png" alt="Dentacoin"/><div><h3>Dentacoin</h3></div></a></li>
				<li class="filterDiv 1"><a href="devcon.html"><img src="img/projects/devcon_thumb.jpg" alt="DevCon Website"/><div><h3>DevCon</h3></div></a></li>
				<li class="filterDiv 1"><a href="gallerystyle.html"><img src="img/projects/gallerysyle_thumb.png" alt="Gallery Style Website"/><div><h3>Gallery Style</h3></div></a></li>
				<li class="filterDiv 1"><a href="vertigo.html"><img src="img/projects/vertigo_thumb.jpg" alt="Vertigo Skates"/><div><h3>Vertigo Skates Shop</h3></div></a></li>
				<li class="filterDiv 2"><a href="logos.html"><img src="img/projects/logo_thumb.jpg" alt="Logo Collection"/><div><h3>Recent Logo Collection</h3></div></a></li>
				<li class="filterDiv 2"><a href="tihomir_portfolio.html"><img src="img/projects/bhp_thumb.png" alt="Broken Heart Phography"/><div><h3>Broken Heart Photography</h3></div></a></li>
				<li class="filterDiv 2"><a href="huichol.html"><img src="img/projects/huichol_thumb.png" alt="Huichol App"/><div><h3>Huichol App</h3></div></a></li>
				<li class="filterDiv 2"><a href="sitostudio.html"><img src="img/projects/sitostudio_thumb.png" alt="Sito Studio website"/><div><h3>Sito Studio</h3></div></a></li>
				<li class="filterDiv 2"><a href="ruth.html"><img src="img/projects/ruth_thumb.jpg" alt="Ruth"/><div><h3>Ruth &amp; Unlimited Album Cover</h3></div></a></li>
				<li class="filterDiv 2"><a href="artone.html"><img src="img/projects/artone_thumb.jpg" alt="Artone Album artworks"/><div><h3>Cover Artworks for Artone</h3></div></a></li>
				<li class="filterDiv 2"><a href="water.html"><img src="img/projects/water_thumb.jpg" alt="Water Competiton"/><div><h3>Drop by Drop Poster competition</h3></div></a></li>
				<li class="filterDiv 2"><a href="gabrovo.html"><img src="img/projects/gabrovo_thumb.jpg" alt="Gabrovo DVD Cover"/><div><h3>Gabrovo DVD Cover</h3></div></a></li>
				<li class="filterDiv 2"><a href="herrdonald.html"><img src="img/projects/herrdonald_thumb.jpg" alt="herr Donald Website"/><div><h3>Herr Donald</h3></div></a></li>

			</ul>
			</div>
		</div>
	</div>
