<section class="lazy slider slider_top">
  <div class="slide1 slidesinner">
    <div class="container-pr">
    <h1>hello</h1>
    <p>this some thext</p>
    <a href="#">link</a>
    </div>
  </div>
  <div class="slide2 slidesinner"></div>
  <div class="slide3 slidesinner">
    <div class="container-pr">
    <h1>hello</h1>
    <p>this some thext</p>
    <a href="#">link</a>
    </div>
  </div>
  <div class="slide4 slidesinner">
    <div class="container-pr">
    <h1>hello</h1>
    <p>this some thext</p>
    <a href="#">link</a>
    </div>
  </div>
</section>
