<section class="lazy slider slider_top">

  <div class="slide1 slidesinner">
    <div class="container-pr">
      <div class="row">
            <a class="slider_link" href="#">Djzajn</a>
              <span class="slider_text">Awesome Djzajn giff</span>
            <span class="slidercouter">1/2</span>
      </div>
    </div>
  </div>

  <div class="slide2 slidesinner">
    <div class="container-pr">
      <div class="row">
            <a class="slider_link" href="#">Djzajn</a>
              <span class="slider_text">Awesome Djzajn giff</span>
            <span class="slidercouter">2/2</span>
      </div>
    </div>
  </div>


</section>
