.body {
  min-height: auto;
  min-width: auto;
  background-color: transparent;
}

.nav {
  margin-top: 0px;
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 36px;
  background-color: transparent;
}

.nav_link_2nd {
  display: none;
}

.nav_social-links_desktop {
  display: inline-block;
  margin-top: 20px;
  margin-right: 28px;
  margin-bottom: 20px;
  padding: 0px;
  font-family: Rubik, sans-serif;
  color: #161616;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.nav-menu {
  float: right;
}

.nav_wrapper {
  min-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.image {
  display: inline-block;
  margin-top: 6px;
  padding-top: 0px;
}

.nav_link {
  margin-top: 20px;
  margin-bottom: 14px;
  margin-left: 60px;
  padding: 0px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav_link.w--current {
  padding-bottom: 10px;
  border-style: none none solid;
  border-width: 4px;
  border-color: #000 #000 #161616;
  border-radius: 0px;
  color: #161616;
  font-weight: 500;
}

.footer_wrapper {
  min-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.footer {
  margin-top: 0px;
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 36px;
  background-color: transparent;
}

.copyright_holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  -webkit-column-count: auto;
  column-count: auto;
}

.p.copy {
  margin-bottom: 0px;
  font-family: Rubik, sans-serif;
  color: #161616;
  font-size: 12px;
  font-weight: 400;
}

.footer_link {
  margin-top: 20px;
  margin-bottom: 14px;
  margin-left: 60px;
  padding: 0px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.footer_link.w--current {
  margin-top: 6px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-style: solid none none;
  border-width: 4px;
  border-color: #000 #000 #161616;
  border-radius: 0px;
  color: #161616;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_logo {
  float: right;
}

.footer_logo.w--current {
  display: inline;
  float: none;
}

.nav_logo {
  float: right;
}

@media screen and (max-width: 991px) {
  .nav {
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
    padding-top: 28px;
  }
  .nav_link_2nd {
    display: block;
    max-width: none;
    margin: 40px auto 20px;
    padding: 0px;
    text-align: center;
  }
  .nav_social-links_desktop {
    display: none;
  }
  .nav-menu {
    display: block;
    overflow: visible;
    min-height: auto;
    min-width: 100%;
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
  }
  .nav_wrapper {
    margin-top: 0px;
  }
  .menu-button {
    overflow: visible;
    padding-left: 16px;
    float: left;
  }
  .image {
    max-width: 90%;
    float: right;
    clear: none;
  }
  .nav_link {
    position: relative;
    right: auto;
    display: block;
    overflow: visible;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    float: none;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .nav_link.w--current {
    border-bottom-style: none;
    color: #848482;
  }
  .icon {
    font-family: Rubik, sans-serif;
    font-size: 36px;
    font-weight: 500;
  }
  .footer_wrapper {
    margin-top: 0px;
  }
  .footer {
    min-width: auto;
    margin-top: 0px;
    margin-right: 3%;
    margin-left: 3%;
    padding-top: 28px;
  }
  .p {
    -webkit-column-count: auto;
    column-count: auto;
  }
  .footer_link {
    position: relative;
    right: auto;
    display: inline-block;
    overflow: visible;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 60px;
    padding-top: 0px;
    float: none;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    min-height: auto;
    min-width: auto;
    margin-top: 0px;
    float: none;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    background-color: transparent;
  }
  .footer_logo {
    margin-right: 0px;
  }
  .footer_logo.w--current {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .nav_logo {
    margin-right: 18px;
  }
  .div-block {
    display: block;
    float: right;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media screen and (max-width: 767px) {
  .nav_link_2nd {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    margin-top: 0px;
    padding-top: 21px;
  }
  .nav_wrapper {
    margin-top: 0px;
  }
  .footer_wrapper {
    margin-top: 0px;
  }
  .footer {
    margin-top: 0px;
    padding-top: 21px;
  }
}

